[req]
default_bits  = 4096
distinguished_name = req_distinguished_name
x509_extensions = v3_intermediate_ca
prompt = no

[ ca ]
default_ca = CA_default

[ CA_default ]
dir = /Users/aleniriskic/Desktop/JinhangBank

default_md = sha3
default_days = 365
policy = policy_strict

[ policy_strict ]
# The root CA should only sign intermediate certificates that match.
# See the POLICY FORMAT section of `man ca`.
countryName             = match
stateOrProvinceName     = match
organizationName        = match
organizationalUnitName  = match
commonName              = supplied
emailAddress            = optional

[req_distinguished_name]
countryName = CH
stateOrProvinceName = Zuid-Holland
localityName = Rotterdam
0.organizationName = Hogeschool Rotterdam Technische Informatica
organizationalUnitName = NOOB
commonName = CH-COUNTRY-CA
emailAddress = alen.iriskic@gmail.com

[v3_intermediate_ca]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

