<!-- bePatient.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Background Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/translations.js') }}"></script>
</head>
<body class="bePatientBody">
    <h1 data-translate="pleaseBePatient"></h1>
    <script>
        setTimeout(function() {
            window.location.href = "{{ url_for('takeMoney.takeMoney', bankpas_id=bankpas_id) }}";
        }, 5000);
    </script>
</body>
</html>
