<!-- changePin.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/translations.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navButtonsChoice.js') }}"></script>
    <script src="{{ url_for('static', filename='js/numPadChangePin.js') }}"></script>
</head>
<body class="changePinBody">
    <h1 data-translate="newPin"></h1>
    <div class="quitItemEnterPin">
        <form action="{{ url_for('goodBye.goodBye') }}" method="GET">
            <button data-translate="quit" type="submit"></button>
        </form>
    </div>
    <div class="enterAmountForm">
        <form action="{{ url_for('bePatient.bePatientNewPin', bankpas_id=bankpas_id) }}" method="POST">
            <input autofocus="true" type="password" id="new_pin" name="new_pin" required>
            <input type="hidden" name="amount" value="">
            <button type="submit"></button>
        </form>
    </div>
    <div class="goBackItem">
        <button onclick="goBack()"></button>
    </div>
    <h3 data-translate="pressOK"></h3>
    <script>
        function goBack() {
        window.history.back();
        }
    </script>
</body>
</html>
