<!-- chooseAmount.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Background Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/translations.js') }}"></script>
</head>
<body class="chooseAmountBody">
    <div class="otherAmount">
        <form action="{{ url_for('enterAmount.enterAmount', bankpas_id=bankpas_id) }}" method="GET">
            <button data-translate="otherAmount" type="submit"></button>
        </form>
    </div>
    <div class="chooseAmount20">
        <form action="{{ url_for('bePatient.bePatientAmount', bankpas_id=bankpas_id) }}" method="POST">
            <input type="hidden" name="input_text" value="">
            <input type="hidden" name="amount" id="amount" value="20">
            <button type="submit"></button>
        </form>
    </div>
    <div class="chooseAmount50">
        <form action="{{ url_for('bePatient.bePatientAmount', bankpas_id=bankpas_id) }}" method="POST">
            <input type="hidden" name="input_text" value="">
            <input type="hidden" name="amount" id="amount" value="50">
            <button type="submit"></button>
        </form>
    </div>
    <div class="chooseAmount70">
        <form action="{{ url_for('bePatient.bePatientAmount', bankpas_id=bankpas_id) }}" method="POST">
            <input type="hidden" name="input_text" value="">
            <input type="hidden" name="amount" id="amount" value="70">
            <button type="submit"></button>
        </form>
    </div>
    <div class="chooseAmount100">
        <form action="{{ url_for('bePatient.bePatientAmount', bankpas_id=bankpas_id) }}" method="POST">
            <input type="hidden" name="input_text" value="">
            <input type="hidden" name="amount" id="amount" value="100">
            <button type="submit"></button>
        </form>
    </div>
    <div class="goBackItem">
        <button onclick="goBack()"></button>
    </div>
    <div class="quitItemChooseAmount">
        <form action="{{ url_for('goodBye.goodBye') }}" method="GET">
            <button data-translate="quit" type="submit"></button>
        </form>
    </div>
    <script>
        function goBack() {
        window.history.back();
        }
    </script>
</body>
</html>
