<!-- chooseAmount.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Background Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="chooseAmountBody">
    <form action="{{ url_for('amountUnavailable.amountUnavailable') }}" method="GET">
        <button type="submit">amountUnavailable</button>
    </form>
    <form action="{{ url_for('enterAmount.enterAmount') }}" method="GET">
        <button type="submit">enterAmount</button>
    </form>
    <form action="{{ url_for('goodBye.goodBye') }}" method="GET">
        <button type="submit">Quit</button>
    </form>
    <form action="{{ url_for('bePatient.bePatient') }}" method="POST">
        <input type="hidden" name="input_text" value="">
        <input type="hidden" name="amount" value="20">
        <button type="submit">20</button>
    </form>
    <form action="{{ url_for('bePatient.bePatient') }}" method="POST">
        <input type="hidden" name="input_text" value="">
        <input type="hidden" name="amount" value="50">
        <button type="submit">50</button>
    </form>
    <form action="{{ url_for('bePatient.bePatient') }}" method="POST">
        <input type="hidden" name="input_text" value="">
        <input type="hidden" name="amount" value="70">
        <button type="submit">70</button>
    </form>
    <form action="{{ url_for('bePatient.bePatient') }}" method="POST">
        <input type="hidden" name="input_text" value="">
        <input type="hidden" name="amount" value="100">
        <button type="submit">100</button>
    </form>
    <button onclick="goBack()">Go Back</button>
    <script>
        function goBack() {
        window.history.back();
        }
    </script>
</body>
</html>
