<!-- enterPin.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/translations.js') }}"></script>
</head>
<body class="enterPinBody">
        <div class="enterPinItem-2">
            <h1 class="" data-translate="enterPin"></h1>
        </div>
        <div class="enterPinItem-1">
            <form action="{{ url_for('verifyPinCode.enter_pin', bankpas_id=bankpas_id) }}" method="POST">
                <input type="password" name="pin_code" id="pin_code" required>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="pickLanguageItem">
            <form  action="{{ url_for('pickLanguage.pickLanguage', bankpas_id=bankpas_id) }}" method="GET">
                <button type="submit"></button>
            </form>
        </div>
        <div class="goBackItem">
            <button onclick="goBack()"></button>
        </div>
        <div class="quitItemEnterPin">
            <form action="{{ url_for('goodBye.goodBye') }}" method="GET">
                <button data-translate="quit" type="submit"></button>
            </form>
        </div>
        <script>
        function goBack() {
        window.history.back();
        }
        </script>
</body>
</html>
