<!-- makeChoice.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/translations.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navButtons.js') }}"></script>
</head>
<body class="makeChoiceBody">
    <div class="showBalanceForm">
        <form action="{{ url_for('showBalance.showBalance', bankpas_id=bankpas_id) }}" method="GET">
            <button data-translate="showBalance" type="submit"></button>
        </form>
    </div>
    <div class="withdrawMoneyForm">
        <form action="{{ url_for('chooseAmount.chooseAmount', bankpas_id=bankpas_id) }}" method="GET">
            <button data-translate="withdrawMoney" type="submit"></button>
        </form>
    </div>
    <div class="changePinForm">
        <form action="{{ url_for('changePin.changePin', bankpas_id=bankpas_id) }}" method="GET">
            <button data-translate="changePin" type="submit"></button>
        </form>
    </div>
    <div class="quitItemEnterPin">
        <form action="{{ url_for('goodBye.goodBye') }}" method="GET">
            <button data-translate="quit" type="submit"></button>
        </form>
    </div>
    <div class="goBackItem">
        <button onclick="goBack()"></button>
    </div>
    <script>
    function goBack() {
    window.history.back();
    }
    </script>
    <h1 class="makeChoiceText" data-translate="makeAChoice"></h1>
</body>
</body>
</html>
