<!-- makeChoice.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="makeChoiceBody">
    <form action="{{ url_for('showBalance.showBalance') }}" method="GET">
        <button type="submit">Show Balance</button>
    </form>
    <form action="{{ url_for('chooseAmount.chooseAmount') }}" method="GET">
        <button type="submit">Withdraw Money</button>
    </form>
    <form action="{{ url_for('changePin.changePin') }}" method="GET">
        <button type="submit">Change Pin</button>
    </form>
    <form action="{{ url_for('goodBye.goodBye') }}" method="GET">
        <button type="submit">Quit</button>
    </form>
    <button onclick="goBack()">Go Back</button>

    <script>
    function goBack() {
    window.history.back();
    }
    </script>
</body>
</body>
</html>
