<!-- pickLanguage.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/translations.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navPickLanguage.js') }}"></script>
</head>
<body class="pickLanguageBody">
    <div class="languageChange">
        <h1 data-translate="chooseYourLanguage"></h1>
    </div>
    <div class="nederlandsItem">
        <form action="{{ url_for('scanCard.scanCard') }}" method="GET">
            <button onclick="changeLanguage('nl')"></button>
        </form>
    </div>
    <div class="englishItem">
        <form action="{{ url_for('scanCard.scanCard') }}" method="GET">
            <button onclick="changeLanguage('en')"></button>
        </form>
    </div>
    <div class="deutschItem">
        <form action="{{ url_for('scanCard.scanCard') }}" method="GET">
            <button onclick="changeLanguage('de')"></button>
        </form>
    </div>
    <div class="francaisItem">
        <form action="{{ url_for('scanCard.scanCard') }}" method="GET">
            <button onclick="changeLanguage('fr')"></button>
        </form>
    </div>
    <div class="quitItem">
        <form action="{{ url_for('goodBye.goodBye') }}" method="GET">
            <button data-translate="quit" type="submit"></button>
        </form>
    </div>
    <div class="goBackItem">
        <button onclick="goBack()"></button>
    </div>
    <script>
    function goBack() {
    window.history.back();
    }
    </script>
</body>
</body>
</html>
