<!-- receiptChoice.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/translations.js') }}"></script>
</head>
<body class="receiptChoiceBody">
    <h1 data-translate="wantReceipt"></h1>
    <div class="yesReceipt">
        <form action="{{ url_for('bePatientReceipt.bePatientReceipt') }}" method="GET">
            <button data-translate="yes" type="submit"></button>
        </form>
    </div>
    <div class="noReceipt">
        <form action="{{ url_for('goodBye.goodBye') }}" method="GET">
            <button data-translate="no" type="submit"></button>
        </form>
    </div>
</body>
</html>
