<!-- scanCard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Background Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/translations.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body class="scanCardBody" onload="redirectToRFID">
        <div class="scanCardItem-1">
            <h1 class="scanCardText" data-translate="scanCard"></h1>
        </div>
        <div class="scanCardItem-2">
            <form action="{{ url_for('verifyPasNummer.verifyPasNummer') }}" method="POST">
                <input type="text" id="pas_nummer" name="pas_nummer" required>
                <button type="submit">Submit</button>
            </form>                     
        </div>
        <div class="scanCardItem-3">
            <h1 class="doNotSharePin" data-translate="neverShare"></h1>
        </div>
        <div class="pickLanguageItem">
            <form action="{{ url_for('pickLanguage.pickLanguage') }}" method="GET">
                <button type="submit"></button>
            </form>
        </div>
        <script>
            function redirectToRFID(){
                window.location.href = "/rfid";
            }
        </script>
</body>
</html>
