<!-- showBalance.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Background Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/translations.js') }}"></script>
</head>
<body class="showBalanceBody">
    <div class="quitItemEnterPin">
        <form action="{{ url_for('goodBye.goodBye') }}" method="GET">
            <button data-translate="quit" type="submit"></button>
        </form>
    </div>
    <h1 data-translate="showBalance"></h1>
    <h4>€0</h4>
    <h3 data-translate="pressOK">Press OK to continue</h3>
    <div class="goBackItem">
        <button onclick="goBack()"></button>
    </div>

    <script>
    function goBack() {
    window.history.back();
    }
    </script>
</body>
</body>
</html>
